body{
    --bg-color: #01102c;
    --table-bg-color: #000c80;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: var(--bg-color);
    overflow: hidden;
}

.hand{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    gap: 1rem;
    width: 30rem;
}

.hand .card.on-hand {
    rotate: calc(var(--deg));
}

.bot-card{
    width: 7rem;
    position: absolute;
}

#table{
    background-color: var(--table-bg-color);
    box-shadow: var(--table-bg-color) 0 0 2rem 50px;
    height: 30rem;
    width: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    flex-flow: row wrap;
}

#bat{
    position: absolute;
    right: 5rem;
    rotate: 90deg;
}

#bot-hand { top: 2rem; }

#user-hand { bottom: 4rem; }


#deck{
    display: flex;
    justify-items: center;
    align-items: center;
    position: absolute;
    left: 4rem;
}

#deck > img{
    position: absolute;
}

.card-back{
    border: black solid 0.01rem;
}

#deck > img{
    width: 8rem;
}

#bat > img{
    width: 6rem;
    position: absolute;
}

.card{
    position: absolute;
    width: 8rem;
}

.on-drag{
    width: 10rem;
    rotate: 0;
    animation: card-growing 0.2s 1;
}

.on-hand{
    position: absolute;
    width: 8rem;
}

.on-table{
    width: 6rem;
    position: absolute;
}

.stack{
    position: relative;
}

#table > div{
    position: relative;
}

#function{
    position: absolute;
    width: 12rem;
    height: 4rem;
    background-color: bisque;
    right: 3rem;
    bottom: 3rem;
    font-size: 2.5rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 20px;
    animation: text-reduction 0.3s 1 forwards;
    visibility: hidden;
}

#function:active{
    animation: text-growing 1s 1;
    font-size: 1rem;
}

@keyframes card-growing{
    from{
        width: 8rem;
    }
    to{
        width: 10rem;
    }
}

@keyframes text-growing {
    from{
        font-size: 2.5rem;
    }
    to{
        font-size: 1rem;
    }
}

@keyframes text-reduction {
    from{
        font-size: 1rem;
    }
    to{
        font-size: 2.5rem;
    }
}
